@media (max-width: 1200px) {
  .consumer-electronics-left {
    max-width: unset;
  }
  .consumer-electronics-left-overlay {
    max-height: 320px !important;
  }
  .consumer-electronics-right-item-content {
    width: 100% !important;
  }
  .MusicAudioVideo-left {
    max-width: unset;
  }
  .MusicAudioVideo-left-overlay {
    max-height: 320px !important;
  }
  .MusicAudioVideo-right {
    padding-left: 0px !important;
  }
  .MusicAudioVideo-right-item-content {
    width: 100% !important;
  }
}
@media (max-width: 1199px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 39px;
  }
  .consumer-electronics-right-content {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
  }
  .consumer-electronics-right-item .overlay img,
  .MusicAudioVideo-right-item .overlay img {
    width: 70% !important;
  }
  .consumer-electronics-right-item,
  .MusicAudioVideo-right-item {
    max-height: 290px;
  }
  .consumer-electronics-left {
    width: 100% !important;
    height: 100%;
    max-width: unset;
  }
  .consumer-electronics-left-overlay,
  .MusicAudioVideo-left-overlay {
    max-height: 320px !important;
  }
  .consumer-electronics-right-item-content h3,
  .MusicAudioVideo-right-item-content h3 {
    font-size: 2rem !important;
  }

  .MusicAudioVideo-right-content {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .MusicAudioVideo-left {
    width: 100% !important;
    height: 100%;
    max-width: unset;
  }
}

@media (max-width: 767px) {
  .main-section2 .section2-part {
    height: 190px;
    max-width: 100% !important;
    margin-bottom: 10px !important;
  }
  .popular-categories-content-container {
    grid-template-columns: auto auto auto;
    grid-column-gap: 35px;
  }
  .consumer-electronics-right-item-content h3,
  .MusicAudioVideo-right-item-content h3 {
    font-size: 1rem !important;
  }
  .benefits-content-item:nth-child(2),
  .benefits-content-item:nth-child(3),
  .benefits-content-item:nth-child(4) {
    border-left: 3px solid #eee !important;
  }
  .benefits-content-item {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .benefits-item-icon {
    width: unset;
    margin-bottom: 10px;
  }
  .benefits-item-icon i {
    font-size: 55px !important;
  }
  .benefits-item-content h3 {
    font-size: 15px;
  }
  .footer-lists-div .collapse:not(.show) {
    display: none;
  }
  .footer-list-container-header {
    pointer-events: painted;
  }
  .footer-down-arrow {
    display: block !important;
  }
}

@media (max-width: 550px) {
  .consumer-electronics-right-item-content,
  .MusicAudioVideo-right-item-content {
    width: 50% !important;
  }
}
@media (max-width: 425px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }

  .popup {
    visibility: hidden;
  }
}

@media (max-width: 361px) {
  .benefits-content-item {
    width: 50% !important;
  }
  .benefits-content-item:nth-child(1),
  .benefits-content-item:nth-child(2) {
    margin-bottom: 15px;
  }
  .benefits-content-item:nth-child(3) {
    border-left: unset !important;
  }
}
